<div class="container">
　<div class="row">
    <h1 class="mt-3 text-center">コラム一覧</h1>
     <% @columns.each do |column| %>
      <table class="table">
        <tr>
          <td>投稿日：<%= column.created_at.strftime("%Y-%m-%d") %></td>
          <td></td>
        </tr>
        <tr>
          <td>タイトル：<%= column.title %></td>
          <td><%= link_to "このコラムを見る", column_path(column), class: "btn btn-info" %></td>
        </tr>
      </table>
    <% end %>
	</div>
</div>