<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>写真</th>
      <th>場所</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
      <tr>

        </td>

        <td class="image_fish">
          <div class="fish_size">

          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>