<div class="background-about">
  <div class="about">
    <div class="bln hidari">
      <div class="okiamisays"><p>つりトラの使い方を教えるぞ</p>
      </div>
    </div>


    <div class="bln torachan_happy fxd--rr">
      <div class="torachansays"><p>よろしくです！</p>
      </div>
    </div>


    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          つりトラは釣りに興味がある人<br>
          釣りを始めたい人<br>
          釣りが好きな人が集まるサイトじゃ<br>
          由来は釣りにトライじゃぞ
        </p>
      </div>
    </div>


    <div class="bln torachan_cry fxd--rr">
      <div class="torachansays">
        <p>僕釣られちゃうんですか？</p>
      </div>
    </div>

    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          釣られる方がマシじゃ<br>
          ワシなんて釣り針に体を・・・<br>
          本題に戻ろう。つりトラは釣りの情報を<br>
          共有するためのサイトじゃ
        </p>
      </div>
    </div>

    <div class="bln torachan_happy fxd--rr">
      <div class="torachansays">
        <p>情報ってどんな情報ですか？</p>
      </div>
    </div>

    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          釣った魚を見せ合ったり<br>
          使った道具を紹介したり<br>
          おすすめの道具を共有したり<br>
          釣り場を探したり<br>
          釣りの情報をたくさん得られるサイトじゃ
        </p>
      </div>
    </div>

    <div class="bln torachan_cry fxd--rr">
      <div class="torachansays">
        <p>
          僕ロッドが何かも分からない<br>
          初心者なんですけど大丈夫ですか？
        </p>
      </div>
    </div>

    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          もちろん大丈夫じゃ。<br>
          初心者が楽しく<br><br>
          <h3 class="text-center"><strong>「釣りにトライ」</strong></h3><br>
          をモットーに運営しているサイトだから大丈夫じゃぞ
        </p>
      </div>
    </div>

    <div class="bln torachan_happy fxd--rr">
      <div class="torachansays">
        <p>わーい！僕も安心して使えそうですね！</p>
      </div>
    </div>

    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          ①みんなの投稿からユーザーからの情報<br>
          ②自分の伝えたいことは自分の投稿から<br>
          ③釣りの基礎基本や、豆知識はコラムから<br>
確認できるぞ！
        </p>
      </div>
    </div>

     <div class="bln torachan_happy fxd--rr">
      <div class="torachansays">
        <p>でも、知りたい情報がなかったらどうするんですか？<br>

        </p>
      </div>
    </div>

    <div class="bln hidari">
      <div class="okiamisays">
        <p>
          そういう時は、質問箱から聞くことができるぞ！<br>
          回答は、コラムに順番にアップされるぞ！(不定期更新)
      </div>
    </div>

    <div class="bln torachan_happy fxd--rr">
      <div class="torachansays">
        <p>さっそくはじめよう！</p>
      </div>
    </div>

    <% unless user_signed_in? %>
  　　　<div class="sign">
      　<%= link_to new_user_registration_path, class: "btn btn-secondary btn-block" do %>
      　　つりトラを始める（会員登録)
  　　  　<% end %>

  　　　　  <%= link_to new_user_session_path, class: "btn btn-warning btn-block" do %>
  　　　 　   ログイン
  　　  　<% end %>

  　　  　<%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-info btn-block" do %>
  　　  　　ゲストログインはこちら
  　　  　<% end %>
  　　  </div>
    <% end %>
  </div>
</div>