<div class="conteiner">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="text-center mt-5">つりトラの使い方</h1>
      
      
      <%= attachment_image_tag %>
      <div class="balloon3-left">
        POINT
      </div>
      <div class="balloon3-right">
        POINT
      </div>
      
    </div>
    <div class="col-2"></div>
  </div>
</div>