<div class="background-image">
  <div class="conteiner">
  　<div id="container">
  　　  <div class="messege">
        <h1 class="topmessege text-center mt-2">ようこそ、<span class="tsuritora">つりトラ</span>へ</h1>
        <div class="text-contents">
          <p class="text-center mt-5">
            <strong>
              つりトラは、釣りの記録や写真<br>
              情報を共有するサイトです<br>
              初心者からベテランアングラーまで大歓迎です<br>
              みんなで楽しく<span class="title">つり</span>に<span class="title">トラ</span>いしましょう
            </strong>
          </p><br>
          <p class="text-center">
            <strong>
              新規登録をしなくても利用はできますが<br>
              投稿、管理者へ質問は<br>
              新規会員登録が必要になります。
            </strong>
          </p>
      　　　<p class="star-contents">
        ★釣り禁止エリアでの釣りはやめましょう    <br>
        ★マナーを守って楽しい釣りをしましょう 　 <br>
        　★釣り場はきれいに、ゴミは持ち帰りましょう<br>
      　   </p>
        </div>
  　　　</div>
    　<div id="theTarget">
      　<div class="image1"></div>
     　  <div class="image2"></div>
    　   <div class="image3"></div>
    　   <div class="image4"></div>
      　<div class="image5"></div>
  　   </div>
    </div>
  　　　<div class="sign">
      　<%= link_to new_user_registration_path, class: "btn btn-secondary btn-block" do %>
      　　つりトラを始める（会員登録)
  　　  　<% end %>

  　　　　  <%= link_to new_user_session_path, class: "btn btn-warning btn-block" do %>
  　　　 　   ログイン
  　　  　<% end %>

  　　  　<%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-info btn-block" do %>
  　　  　　ゲストログインはこちら
  　　  　<% end %>
  　　  </div>
    </div>
  </div>
</div>