<div class="conteiner">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 class="text-center mt-5">ようこそ、つりトラへ</h1>
      <p class="text-center">つりトラは釣果を共有するサイトです</p><br>
      <p class="text-center">新規登録をしなくても利用はできますが、釣果の投稿や管理者へ<br>
         のお問い合わせは新規会員登録が必要になります。</p>


　　　 <p class="text-center">
　　　   ★　マナーを守って楽しい釣りをしましょう　　<br>
　　　   ★　釣り禁止エリアでの釣りはやめましょう　　<br>
　　　   ★　釣り場はきれいに、ゴミは持ち帰りましょう<br>
　　　 </p>


　　　 <div class="text-center">
    　   <%= link_to new_user_registration_path, class: "btn btn-secondary btn-lg btn-block"  do %>
    　　    つりトラを始める（新規会員登録)
　　  　<% end %>
　　　 </div>
　　　 <div class="text-center">
　　　   <%= link_to new_user_session_path, class: "btn btn-warning btn-lg btn-block"  do %>
　　　     ログイン
　　  　 <% end %>
　　　 </div>



    </div>
    <div class="col-2"></div>
  </div>
</div>