// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { height: 600px;
        width: 100%;
}

.lure_icon {
	height: 15px;
	width: 20px;
}

.image-circle {
	height :200px;
	width :200px;
	border-radius :50%;

}

.image_fish{
	height: 200px;
	width: 300px;
}


.fish-image {
	width: 100%;
}


.image-size {
	height: 170px;
	width: 100%;
}


.profile_image_search{
    height:100px;
	width:100px;
	border-radius: 50%;
}
.fish-name {
	width :100px;
}

#files{
	display: none;
}


.circle_color{
	color: #ccc;
}

#btn {
	  height :80px;
	  width :111px;
	  margin-right: 50px;
    color: #000000;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    border: inset;
}
input {
	  margin-left: 30px;
    background: none;
    box-shadow: none;
    border: none;
}

.search_form {
	border: inset;

}


.position {
	margin-left: 30px;
}


.form-icons {
	font-size:80px;
	color:#eee;
	display:flex;
	.fas.active {
		color:#17a2b8;
	}
	.fab.active {
		color:#17a2b8;
	}
	a {
		color:inherit;
	}
}

input.hidden {
  visibilty: hidden;
}


@media (max-width: 1056px) {

	.image-size {
		height: auto;
		width: 100%;
	}
}


.profile-image {
	height:60px;
	width:60px;
	border-radius: 50%;
}