// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fish-image {
	width: 100%;
}


.image-size {
	height: 130px;
	width: 180px;
}


.profile-image {
	height:30px;
	width:30px;
	border-radius: 50%;
}

.fish-name {
	width :100px;
}